:root {
    --header-background-color: hsl(20, 17%, 86%);
    --header-border-color: hsl(20, 17%, 80%);
    --main-background-color: hsl(0, 25%, 94%);
    --footer-background-color: hsl(0, 0%, 20%);
    --footer-text-color: hsl(0, 0%, 83%);

    --website-name-color: hsl(0, 0%, 29%);

    --button-background-color: hsl(210, 14%, 53%);
    --button-color: hsl(0, 0%, 96%);
    --button-shadow-color: hsl(0, 0%, 29%);
    --button-interaction-background-color: hsl(210, 14%, 43%);

    --post-background-color: hsl(0, 0%, 83%);
    --post-shadow-color: hsl(0, 0%, 50%);
    --post-interaction-background-color: hsl(0, 0%, 63%);

    --post-topic-date-text-color: hsl(0, 0%, 16%);
    --post-topic-background-color: hsl(195, 53%, 79%);
    --post-date-background-color: hsl(17, 100%, 74%);

    --input-field-border-color: hsl(0, 0%, 96%);
    --input-field-background-color: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--main-background-color);
    font-size: 16px;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial;
}

.header {
    background-color: var(--header-background-color);
    padding: 5px;
    padding-inline: 10px;
    border-bottom: 1px solid var(--header-border-color);
}

.main {
    flex: 1;
    padding: 20px;
}

.footer {
    background-color: var(--footer-background-color);
    padding: 10px;
    color: var(--footer-text-color);
}

.website-name {
    color: var(--website-name-color);
    display: inline-block;
    cursor: pointer;
}

.header-right {
    float: right;
}

.sign-in, .sign-up, .form-button, .button {
    background-color: var(--button-background-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--button-color);
    font-size: 1em;
    box-shadow: var(--button-shadow-color) 2px 2px;
}

.form-button {
    margin-top: 10px;
}

.footer {
    float: inline-end;
}

.post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.post {
    background-color: var(--post-background-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--post-shadow-color) 2px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.post-theme-date {
    font-weight: 300;
    margin-bottom: 10px;
}

.post-title {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.post-description {
    font-weight: 400;
}

.post-topic, .post-date {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 7px;
    display: inline-block;
    color: var(--post-topic-date-text-color);
    font-weight: 500;
}

.post-topic {
    background-color: var(--post-topic-background-color);
    margin-right: 5px;
}

.post-date {
    background-color: var(--post-date-background-color);
}

.field-label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.input-field {
    padding-inline: 5px;
    padding-block: 7px;
    border-radius: 5px;
    border: 1px solid var(--input-field-border-color);
    background-color: var(--input-field-background-color);
    min-width: 100%;
}

@media only screen and (max-width: 700px) {
    .post-container {
        grid-template-columns: 1fr;
    }

    .main {
        padding: 10px;
    }
}

@media (hover: hover){
    .button:hover {
        background-color: var(--button-interaction-background-color);
    }

    .post:hover {
        background-color: var(--post-interaction-background-color);
    }
}

.button:active {
    background-color: var(--button-interaction-background-color);
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: var(--button-shadow-color) 1px 1px;
}